
/* Fonts */
*{
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, p, .h1, .h2, .h3, .h4, .h5{
    font-family: 'Josefin Sans', sans-serif;
}

/* Colori */

:root{
    --petrolio: rgb(21, 141, 168);
    --grigio: rgb(245, 245, 247);
}

.color-p{
    color: rgb(21, 141, 168);
}

.bg-grigio{
    background-color: var(--grigio);
}

/* Navbar */
.bg-nav{
    background-color: var(--petrolio);
}

/* .wordSpace{
    word-spacing: px;
} */

li{
    font-weight: bold;
    color: var(--grigio);
}
.lente{
    width: 40px;
}

.logo{
    width: 100px;
    height: 100px;
}

.nav-link:hover{
    color: var(--grigio);
    border-bottom: solid 2px var(--grigio);
}
/* Header */

.bg-bonsai{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.241),rgb(3, 3, 3)), url(./media/header.jpg);
    background-repeat : no-repeat;
    background-size: cover ;
}

/* Number */

.number{
    font-size: 100px;
    font-weight: 900;
}

.n-text{
    font-size: 50px;
}

/* Custom card swiper */

.custom-card-products{
    width:250px;
    min-height: 400px;
    border: solid 2px var(--petrolio);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:20px;
}

/* Scroll up Btn */

.scrollUpBtn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: var(--petrolio);
}

/* Prodotti */

.titlePage{
    background: -webkit-linear-gradient(45deg, rgb(21, 141, 168), rgb(245, 245, 247));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.margine{
    margin-top: 150px;
}

.accordion-button:not(.collapsed){
    background-color: var(--grigio);
}

.products-card{
    width: 30%;
    min-height: 300px;
    border: 2px solid var(--petrolio);
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#priceInput{
    width: 100%;
}

.number2{
    font-size: 80px;
    font-weight: 900;
}

/* Chi siamo */

.circle{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 2px dashed var(--petrolio);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.opener{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid var(--petrolio);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    background-color: var(--grigio);
    cursor: pointer;
    transition: 1s;
}

.moved{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 2px solid var(--petrolio);
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: 0;
    transition: 1s;
    background-color: var(--grigio);
    cursor: pointer;
}

/* Card */

.peopleCard{
    height: 350px;
    width: 250px;
    border-radius: 20px;
    border: 2px solid var(--petrolio);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inner{
    height: 100%;
    width: 100%;
    border: 2px solid var(--petrolio);
    border-radius: 20px;
    transition: 0.4s;
    position: relative;
    transform-style: preserve-3d;
}

.inner-face{
    height: 350px;
    width: 250px;
    position: absolute;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

.inne-back{
    height: 350px;
    width: 250px;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.flip-card:hover > .inner{
    transform: rotateY(180deg);
}

.niente{
    height: 3000px;
}

.bordo{
    border: solid 2px red;
}
